@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

.playing-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    user-select: none;
}

.playing-display > :first-child {
    font-family: 'Antonio';
    font-weight: 600;
    font-size: 2rem;
}

.playing-display > :last-child {
    font-family: 'Lexend Zetta';
    font-weight: 600;
    font-size: 1.05rem;
    line-height: 15px;
}

/* Cover Styling */
div:has(>img.album-pic) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    --image-border-radius: 40px;
    --image-margin-top: 24px;
    --image-margin-bottom: 39px;
}

img.album-pic {
    width: 100%;
    border-radius: var(--image-border-radius);
    box-shadow: 0px 0px 14px 1px #00000080;
    margin-top: var(--image-margin-top);
    margin-bottom: var(--image-margin-bottom);
    user-select: none;
}

div.loading_cover {
    top: var(--image-margin-top);
    width: 100%;
    bottom: var(--image-margin-bottom);

    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--image-border-radius);
}

div.loading_cover.visible {
    display: flex;
}

.loading_spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Control Panel Styling */
.control-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control-panel > span.song-name {
    font-size: 1.25rem;
    font-weight: 700;
}

.control-panel > span.song-artist {
    line-height: 15px;
}

@media (pointer: coarse) {
    .control-panel > .slider {
        padding: .75rem 0 !important;
    }
}

.control-panel > .time-feedback {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
}

.control-panel > .buttons {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.buttons > button {
    width: 65px;
    height: 65px;
    padding: 0;
    border: none;
    background: none;
    transition: opacity .1s ease;
}

.buttons > button:active {
    opacity: .5;
}

.buttons > button:disabled {
    opacity: .5;
}

.buttons > button:is(#previous-button, #next-button) {
    width: calc(0.6 * 65px);
    height: calc(0.6 * 65px);
}

.buttons img {
    height: 100%;
}

/* Drawer Styling */
.drawer {
    height: calc(100vh - 111px);
    box-shadow: 0px 0px 15px 1px #23212140;
    border-top-left-radius: 45px !important;
    border-top-right-radius: 45px !important;
}

.drawer__backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
}

.drawer__handle {
    height: 10px !important;
    width: 90px !important;
    background: #D9D9D9 !important;
}

.drawer__handle-wrapper {
    padding: 15px 0 !important;
}

.drawer__content {
    height: 100%;
    max-height: none !important;
    padding: 0 30px !important;
}